/*Define the global or root variables*/
:root{
    --primaryColor :#394867;
    --backgroundColor :#F1F6F9;
    --primaryAccentColor :#212A3E;
    --secondaryColor:#9BA4B5;
    --whiteColor:white;
    --blaclColor:#222222;
    --primaryFont:"Open-Sans",Sans-serif;
    --cursive:"Lobster",cursive;
    --secondaryfont:"Roboto Condensed",secondary;
    --navbarheight:3rem;
}

.navigation{
    background-color: var(--backgroundColor);
    height:var(--navbarheight);
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    height:var(--navbarheight);
    padding:1px 20px;
    width:7rem;
    align-items: center;
}

.logoimage{
    height:3rem;
    margin-bottom: 8px;
}

.logoimage:hover{
    height:3.2rem;
}

.contactimage{
    height:2rem;
    padding:8px;
    margin-right: 20px;
}

.contactimage:hover{
    height:2.1rem;
}

.menuitems{
    flex-grow: 2;
    align-items: center;
    margin-top: 14px;
    justify-content: space-around;
}

.menuitem{
    margin-left: 80px;
    padding: 50px;
    margin-top: 80px;
    align-items: center;
    justify-content: space-around;
}

.logotitle{
    font-size: 1.5rem;
    font-weight:bolder;
}

body{
    background-color: var(--primaryAccentColor);
    color:var(--primaryColor);
    font-family:var(--primaryFont);
}

/*Banner*/
.bannerpic{
    height:20rem;
    border-radius: 100%;
    padding-right: 50px;
}

.banner{
    margin-top: 20px;
    display:flex;
    height:450px;
    background: linear-gradient(235deg,rgb(207, 192, 255),black);
    filter:drop-shadow(0px 2px 1px rgb(207, 192, 255));/* x,y,radius,color*/
    align-items: center;
    justify-content: space-around;
}

.bannerleft{
    color:var(--backgroundColor);
    justify-content: space-around;
    margin-left: 20px;
    display: inline;
}

.greeting{
    font-family: var(--cursive);
    font-size:2rem;
}

.title{
    font-family: var(--secondaryfont);
    font-size: 5rem;
}

.desciption{
    font-family: var(--secondaryfont);
    font-size: 1.3rem;
    line-height: 2;
}

.titlespan{
    display:inline-block;
    background:linear-gradient(235deg,black,rgb(44, 36, 71));
    color:var(--backgroundColor);
    padding:0.5rem;
    margin:5px 0px;
}

a{
    text-decoration: none;
    color:var(--primaryAccentColor);
}

a:hover{
    font-weight: bolder;
}

.showcv{
    line-height: 2;
    background: white;
    margin:50px 0px;
    padding: 2px;
    border-radius: 5px;
}

.showcv:hover{
    font-weight: bolder;
}

.services{
    margin:40px;
}


.servicetext{
    text-align: center;
    text-transform: uppercase;
}

.txtsubheading{
    color:var(--secondaryColor);
    font-size: 1rem;
    letter-spacing: 0.5rem;
}

.txtheading{
    color:var(--backgroundColor);
    font-weight: bolder;
    font-size: 2.5rem;
}

.servicecards{
    display: flex;
    margin-top: 20px;
    font-family:var(--secondaryfont);
    font-size:1.2rem;
    justify-content: space-around;
}

.servicecard{
    background-color:var(--secondaryColor);
    border-radius: 5px;
    margin:10px;
    padding:10px;
    color:var(--backgroundColor);
    font-family: var(--primaryFont);
    font-size:rem;
}

.servicecard:hover{
    filter:drop-shadow(1px 1px 10px black);
}

.material-symbols-outlined{
    background-color: var(--backgroundColor);
    color: var(--blaclColor);
    padding:2px;
    font-size: 3rem;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px black);
    align-items: center;
}

.servicetitle{
    font-size: 2rem;
    color:var(--primaryAccentColor);
    font-weight: bold;
    line-height: 1.5;
    font-family: var(--secondaryfont);
}

.servftrsicons{
    font-size: 0.8rem;
    background-color: none;
}

.servfeaturetext{
    font-family: var(--primaryFont);
    font-weight:500;
    color:var(--primaryColor);
    text-align: center;
}